body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  background-color: white;
}
.top-container {
  background-color: #80af81;
  margin-bottom: 100px;
  width: 100%;
}
.title-text {
  text-align: center;
}
h1 {
  font-family: "Cookie", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 5rem;
  color: #1a5319;
  margin: 0px;
}
h2 {
  font-weight: 500;
  font-size: 2rem;
  color: #1a5319;
}
.birds-left {
  position: relative;
  width: 150px;
  right: 12rem;
  top: 5rem;
  margin: 0;
}
.birds-right {
  position: relative;
  width: 150px;
  left: 12rem;
  top: 5rem;
  margin: 0;
}
.forest {
  position: relative;
  bottom: 0;
  width: 450px;
}
